<div class="panel panel-default">
<div class="panel-heading"><h2>Listing comments</h2></div>
<table class="table tablesorter">
  <thead>
    <tr>
      <th><%= sortable :user_id %></th>
      <th><%= sortable :movie_id %></th>
      <th><%= sortable :time %></th>
      <th><%= sortable :content %></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= link_to comment.user_id, comment.user %></td>
        <td><%= link_to comment.movie.title, comment.movie %></td>
        <td><%= comment.time %></td>
        <td><%= comment.content %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row"><div class="col-md-4 col-md-offset-5"><%= will_paginate @comments %></div></div>

<br>

<%= link_to 'New Comment', new_comment_path %>
