<h1>Analytics:</h1>
<p><%= link_to 'Best rated movies', best_rated_analytics_path %></p>
<p><%= link_to 'Count of movies by genre', movies_genres_count_analytics_path %></p>
<p><%= link_to 'Most commented movies', most_commented_analytics_path %></p>
<p><%= link_to 'Most active users', most_active_analytics_path %></p>
<p><%= link_to 'Users and number of wishes', wishes_count_users_path %></p>
<p><%= link_to 'Users and number of loans', loans_count_users_path %></p>
<p><%= link_to 'List of genres and count of loans (doesn\'t work properly yet)', genre_loans_analytics_path %></p>
<p><%= link_to 'Loans after due date', loans_path(filter: :after) %></p>