<div class="panel panel-default">
<div class="panel-heading"><h2>Listing movies</h2></div>
<table class="table tablesorter">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release day</th>
      <th>Release month</th>
      <th>Release year</th>
      <th>Duration</th>
      <th>Budget</th>
      <th>Revenue</th>
      <th>Agerestriction</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.release_day %></td>
        <td><%= movie.release_month %></td>
        <td><%= movie.release_year %></td>
        <td><%= movie.duration %></td>
        <td><%= movie.budget %></td>
        <td><%= movie.revenue %></td>
        <td><%= movie.ageRestriction %></td>
        <td><%= link_to 'Recensions', recensions_movie_path(movie) %></td>
        <td><%= link_to 'Participants', participations_movie_path(movie) %></td>
        <td><%= link_to 'Media', media_movie_path(movie) %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Movie', new_movie_path %>
