<div class="panel panel-default">
  <div class="panel-heading"><h2>Listing movies</h2></div>

  <%= form_tag movies_path, :method => 'get' do %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= hidden_field_tag :direction, params[:direction] %>

    <p style="margin:20px 0px 20px 10px;">
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search Movie", :name => nil %>
    </p>  
  <% end %>


  <table class="table tablesorter">
    <thead>
      <tr>
        <th><%= sortable :title %></th>
        <th><%= sortable :release_day %></th>
        <th><%= sortable :release_month %></th>
        <th><%= sortable :release_year %></th>
        <th><%= sortable :duration %></th>
        <th><%= sortable :budget %></th>
        <th><%= sortable :revenue %></th>
        <th><%= sortable :agerestriction, "Age Restriction" %></th>
      </tr>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= link_to movie.title, movie_path(movie) %></td>
          <td><%= movie.release_day %></td>
          <td><%= movie.release_month %></td>
          <td><%= movie.release_year %></td>
          <td><%= (movie.duration.to_s + "&nbsp;min").html_safe %></td>
          <td><%= ("&euro;&nbsp;" + number_with_delimiter(movie.budget).to_s).html_safe %></td>
          <td><%= ("&euro;&nbsp;" + number_with_delimiter(movie.revenue).to_s).html_safe %></td>
          <td><%= movie.ageRestriction %></td>
          <td><%= link_to 'Recensions', recensions_movie_path(movie) %></td>
          <td><%= link_to 'Participants', participations_movie_path(movie) %></td>
          <td><%= link_to 'Media', movie_media_path(movie) %></td>
          <td><%= link_to 'Show', movie %></td>
          <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
          <td><%= link_to 'Delete', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row"><div class="col-md-4 col-md-offset-5"><%= will_paginate @movies %></div></div>

</div>
<br />
<%= link_to 'New Movie', new_movie_path %>
