<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Release day:</strong>
  <%= @movie.release_day %>
</p>

<p>
  <strong>Release month:</strong>
  <%= @movie.release_month %>
</p>

<p>
  <strong>Release year:</strong>
  <%= @movie.release_year %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @movie.budget %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @movie.revenue %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Agerestriction:</strong>
  <%= @movie.ageRestriction %>
</p>

<p>
  <strong>Comments to this movie (from here on, are examples of joins):</strong>
  <% @comments.each do |c| %>
    <p>
      User id: <%= c.user_id %>
    </p>
    <p>
      Comment: <%= c.content %>
    </p>
  <% end %>
</p>

<p>
  <strong>Movie genres:</strong>
    <p>
      <% @genres.each do |g| %>
        <%= g.name %>
      <% end %>
    </p>
  
</p>

<p>
  <strong>Movie ratings:</strong>
  <% @user_ratings.each do |u, r| %>
    <p>
      First name: <%= u.first_name %><br />
      Last name: <%= u.last_name %><br />
      User name: <%= u.user_name %><br />
      Rating: <%= r.ratingValue %><br />
    </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
