<div class="panel panel-default">
<div class="panel-heading"><h2>Listing recensions</h2></div>
<table class="table tablesorter">
  <thead>
    <tr>
      <th><%= sortable :movie_id %></th>
      <th>Website</th>
      <th><%= sortable :time %></th>
      <th><%= sortable :content %></th>
    </tr>
  </thead>

  <tbody>
    <% @recensions.each do |recension| %>
      <tr>
        <td><%= recension.movie_id %></td>
        <td><%= link_to recension.website_id, website_path(recension.website_id) %></td>
        <td><%= recension.time %></td>
        <td><%= recension.content %></td>
        <td><%= link_to 'Show', recension %></td>
        <td><%= link_to 'Edit', edit_recension_path(recension) %></td>
        <td><%= link_to 'Delete', recension, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row"><div class="col-md-4 col-md-offset-5"><%= will_paginate @recensions %></div></div>
<br>

<%= link_to 'New Recension', new_recension_path %>
