<div class="panel panel-default">
<div class="panel-heading"><h2>Listing ratings</h2></div>
<table class="table tablesorter">
  <thead>
    <tr>
      <th>Movie</th>
      <th>User</th>
      <th>Ratingvalue</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.movie_id %></td>
        <td><%= rating.user_id %></td>
        <td><%= rating.ratingValue %></td>
        <td><%= rating.time %></td>
        <td><%= link_to 'Show', rating %></td>
        <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
        <td><%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rating', new_rating_path %>
