<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @rating.movie_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @rating.user_id %>
</p>

<p>
  <strong>Ratingvalue:</strong>
  <%= @rating.ratingValue %>
</p>

<p>
  <strong>Time:</strong>
  <%= @rating.time %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
