 <!-- Jumbotron -->
      <div class="jumbotron">
        <%= image_tag('logo.png') %>

        <h1>Marketing stuff!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
        <p class="lead"><strong>Analytics:<strong><br /> 
       	<p><%= link_to 'Best rated movies', best_rated_analytics_path %></p>
       	<p><%= link_to 'Count of movies by genre', movies_genres_count_analytics_path %></p>
        <p><%= link_to 'Most commented movies', most_commented_analytics_path %></p>
        <p><%= link_to 'Most active users', most_active_analytics_path %></p>
        <p><%= link_to 'Users and number of wishes', wishes_count_users_path %></p>
        <p><%= link_to 'Users and number of loans', loans_count_users_path %></p>
        <p><%= link_to 'Loans after due date', loans_path(filter: :after) %></p>
          <!-- 
          <p><a class="btn btn-lg btn-success" href="http://getbootstrap.com/examples/justified-nav/#" role="button">Get started today</a></p>
          -->
        </div><!-- end of jubotron -->

    <div class="row">
      <div class="col-md-7">
      <h2>Latest 5 comments</h2>
      <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Movie</th>
            <th>Time</th>
            <th>Content</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.user.first_name + ' "' + comment.user.user_name + '" ' + comment.user.last_name %></td>
              <td><%= link_to comment.movie.title, comment.movie %></td>
              <td><%= time_ago_in_words(comment.time) + " ago" %></td>
              <td><%= comment.content %></td>
              <td><%= link_to 'Show', comment %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>

      <div class="col-md-1"></div>

      <div class="col-md-4">
      <h2>Top 10 rated movies</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Average rating</th>
            <th>Ratings count</th>
            </tr>
        </thead>
        <tbody>
          <% @movies.each do |movie| %>
            <tr>
              <td><%= link_to movie.title, movie %></td>
                <td><%= movie.average %></td>
                <td><%= movie.count %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div><!--end of row-->