 <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Marketing stuff!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
        <p class="lead"><strong>Analytics:<strong><br /> 
       	<%= link_to 'Best rated movies', best_rated_movies_path %></p>
       	<%= link_to 'Count of movies by genre', count_genres_path %></p>
        <%= link_to 'Users and number of wishes', wishes_count_users_path %></p>
        <%= link_to 'Users and number of loans', loans_count_users_path %></p>
        <%= link_to 'Loans after due date', loans_path(filter: :after) %></p>
        <!-- <p><a class="btn btn-lg btn-success" href="http://getbootstrap.com/examples/justified-nav/#" role="button">Get started today</a></p>-->
        <br /><br />
        <%= image_tag('logo.png') %>
        </div>