 <!-- Jumbotron -->
      <div class="jumbotron">
        <%= image_tag('logo.png') %>

        <h1>Discover. Connect. Share.</h1>
        <p class="lead">All information related to related to movies, taking in actors, production crew, and  plot summaries is there at your fingertips. Listen to the voice of the community. Became a part of it and express your passion for cinematography.</p>
        <p><%= link_to 'Check out our analytics section!', analytics_path, class: "btn btn-lg btn-success", role: 'button' %></p>          
        <br /><br />
        </div><!-- end of jubotron -->





    <div class="row">
      <div class="col-md-7">
      <h2>Latest 5 comments</h2>
      <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Movie</th>
            <th>Time</th>
            <th>Content</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><%= link_to comment.user.first_name + ' "' + comment.user.user_name + '" ' + comment.user.last_name, comment.user %></td>
              <td><%= link_to comment.movie.title, comment.movie %></td>
              <td><%= time_ago_in_words(comment.time) + " ago" %></td>
              <td><p class="minimize"><%= comment.content %></p></td>
              <td><%= link_to 'Show', comment %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>

      <div class="col-md-1"></div>

      <div class="col-md-4">
      <h2>Top 10 rated movies</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Average rating</th>
            <th>Ratings count</th>
            </tr>
        </thead>
        <tbody>
          <% @movies.each do |movie| %>
            <tr>
              <td><%= link_to movie.title, movie %></td>
                <td><%= movie.average %></td>
                <td><%= movie.count %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div><!--end of row-->