<div class="panel panel-default">
<div class="panel-heading"><h2>Listing Loans</h2></div>
<table class="table tablesorter">
  <thead>
    <tr>
      <th>Loa</th>
      <th>Borrow date</th>
      <th>Sup return date</th>
      <th>Return date</th>
      <th>Wis</th>
      <th>Med</th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.loa_id %></td>
        <td><%= loan.borrow_date %></td>
        <td><%= loan.sup_return_date %></td>
        <td><%= loan.return_date %></td>
        <td><%= loan.wis_id %></td>
        <td><%= loan.med_id %></td>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Delete', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan', new_loan_path %>
