<div class="panel panel-default">
<div class="panel-heading"><h2>Listing Loans</h2></div>
<table class="table tablesorter">
  <thead>
    <tr>
      <th><%= sortable :loa_id %></th>
      <th><%= sortable :borrrow_date %></th>
      <th><%= sortable :sup_return_date, "Supposed Return Date" %></th>
      <th><%= sortable :return_date %></th>
      <th><%= sortable :wis_id %></th>
      <th><%= sortable :med_id %></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.loa_id %></td>
        <td><%= loan.borrow_date %></td>
        <td><%= loan.sup_return_date %></td>
        <td><%= loan.return_date %></td>
        <td><%= loan.wis_id %></td>
        <td><%= loan.med_id %></td>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Delete', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row"><div class="col-md-4 col-md-offset-5"><%= will_paginate @loans %></div></div>

<br>

<%= link_to 'New Loan', new_loan_path %>
