<div class="panel panel-default">
<div class="panel-heading"><h2>Listing media</h2></div>
<table class="table tablesorter">
  <thead>
    <tr>
      <th><%= sortable :med_id, "Medium" %></th>
      <th><%= sortable :med_type, "Medium type" %></th>
      <th><%= sortable :movie_id %></th>
      <th><%= sortable :medium_set_id %></th>
    </tr>
  </thead>

  <tbody>
    <% @media.each do |medium| %>
      <tr>
        <td><%= medium.med_id %></td>
        <td><%= medium.med_type %></td>
        <td><%= medium.movie_id %></td>
        <td><%= medium.medium_set_id %></td>
        <td><%= link_to 'Show', medium %></td>
        <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
        <td><%= link_to 'Delete', medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row"><div class="col-md-4 col-md-offset-5"><%= params[:movie_id].blank? ? (will_paginate @media) : (p '') %></div></div>

<br>

<% if params[:movie_id].blank? %>
<%= link_to 'New Medium', new_medium_path %>
<% else %>
<%= link_to 'New Medium', new_movie_medium_path %>
<% end %>