<div class="panel panel-default">
<div class="panel-heading"><h2>Listing wishlists</h2></div>
<table class="table tablesorter">
  <thead>
    <tr>
      <th><%= sortable :wis_id %></th>
      <th><%= sortable :wis_date %></th>
      <th><%= sortable :user_id %></th>
      <th><%= sortable :movie_id %></th>
    </tr>
  </thead>

  <tbody>
    <% @wishlists.each do |wishlist| %>
      <tr>
        <td><%= wishlist.wis_id %></td>
        <td><%= wishlist.wis_date %></td>
        <td><%= wishlist.user_id %></td>
        <td><%= wishlist.movie_id %></td>
        <td><%= link_to 'Show', wishlist %></td>
        <td><%= link_to 'Edit', edit_wishlist_path(wishlist) %></td>
        <td><%= link_to 'Delete', wishlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row"><div class="col-md-4 col-md-offset-5"><%= will_paginate @wishlists %></div></div>

<br>

<%= link_to 'New Wishlist', new_wishlist_path %>
