<%= form_for(@movie_participant) do |f| %>
  <% if @movie_participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie_participant.errors.count, "error") %> prohibited this movie_participant from being saved:</h2>

      <ul>
      <% @movie_participant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :participant_id %><br>
    <%= f.number_field :participant_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :birthplace %><br>
    <%= f.text_field :birthplace %>
  </div>
  <div class="field">
    <%= f.label :birthdate %><br>
    <%= f.date_select :birthdate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
