<div class="panel panel-default">
<div class="panel-heading"><h2>Listing movie participants</h2></div>
<table class="table tablesorter">

<table>
  <thead>
    <tr>
      <th>Participant</th>
      <th>Name</th>
      <th>Birthplace</th>
      <th>Birthdate</th>
    </tr>
  </thead>

  <tbody>
    <% @movie_participants.each do |movie_participant| %>
      <tr>
        <td><%= movie_participant.participant_id %></td>
        <td><%= movie_participant.name %></td>
        <td><%= movie_participant.birthplace %></td>
        <td><%= movie_participant.birthdate %></td>
        <td><%= link_to 'Show', movie_participant %></td>
        <td><%= link_to 'Edit', edit_movie_participant_path(movie_participant) %></td>
        <td><%= link_to 'Destroy', movie_participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie participant', new_movie_participant_path %>
