<!DOCTYPE html>
<html>
<head>
  <title>Moviedatabase</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 style = "text-align: center;"> <%= link_to 'Web interface for the movie database', root_path %></h1>
<ul>
	<li><%= link_to 'List of movies', movies_path %> </li>
	<li><%= link_to 'List of comments', comments_path %> </li>
<ul>

<%= yield %>

</body>
</html>
