<!DOCTYPE html>
<html>
<head>
  <title>Moviedatabase</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="http://getbootstrap.com/examples/justified-nav/justified-nav.css" rel="stylesheet">
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
  <%= javascript_include_tag "http://tablesorter.com/__jquery.tablesorter.min.js" %>
  <script>
    var ready;
    ready = function() {

      $("table").tablesorter();

    };

    $(document).ready(ready);
    $(document).on('page:load', ready);
  </script>

</head>
<body>
<div class="container">

      <div class="masthead">
        <ul class="nav nav-justified">
          <%= nav_link 'Home', root_path %>
          <%= nav_link 'Analytics', analytics_path %>
          <%= nav_link 'Movies', movies_path %>
          <%= nav_link 'Users', users_path %>
          <%= nav_link 'Comments', comments_path %>
          <%= nav_link 'Genres', genres_path %>
          <%= nav_link 'Media', media_path %> 
          <%= nav_link 'Recensions', recensions_path %>
          <%= nav_link 'Ratings', ratings_path %>
          <%= nav_link 'Wishlists', wishlists_path %> 
          <%= nav_link 'Loans', loans_path %> 
        </ul>
      </div>
      
	  <%= yield %>

      <!-- Site footer -->
      <div class="footer">
        <p>Created by Supergroup 4 – Awesome Integrated Movie Community 2014</p>
      </div>

    </div> <!-- /container -->



</body>
</html>
