<!DOCTYPE html>
<html>
<head>
  <title>Moviedatabase</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> Web interface for the movie database </h1>
<ul>
	<li><%= link_to 'Movies lookup', movies_path %> </li>
<ul>

<%= yield %>

</body>
</html>
